

.md{
    font-family: 'Plus Jakarta Sans', sans-serif;
  }


  .ios{
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  h1{
    color: crimson;
    text-align: center;
    size: 20px;

  }

  div#myDiv{

    background-image: url(https://i.pinimg.com/564x/0c/26/6c/0c266cb16a2852ac635b2bcec943ff43.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    }

  .img{
    
    margin-left: 35px;
    top: 25%;  

  }

  
