.md{
    font-family: 'Plus Jakarta Sans', sans-serif;
  }


  .ios{
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  ion-content.background{
    --background: url(https://photoshop-kopona.com/uploads/posts/2018-03/1522485422_39-9.jpg) 0 0/100% 100% no-repeat;
}

ion-slide{

  display: block;


}

.slide-img-padding{
  margin-top: 20px;
  padding: 35px;
}

h3{
font-size: 20px;
font-weight: bold;
margin-bottom: 50px;

}

.ion-footer-color{
background-color: white;
border-color: aqua;
}

.button-style{
  color: crimson;

  
}